<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/public/style.css" />
    <title>Listagem</title>
  </head>
  <body>
    <h2>Listagem</h2>
    <table border="1">
      <thead>
        <tr>
          <td>Nome</td>
          <td>Sobrenome</td>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(function(details){ %>
        <tr>
          <td><%= details.name%></td>

          <td><%= details.surname %></td>
          <td><a href="/edit/<%= details._id %>">Editar</a></td>
          <td><a href="/delete/<%= details._id %>">Excluir</a></td>
        </tr>
        <% }) %>
      </tbody>
      <button><a href="index.ejs"></a>Voltar</button>
    </table>
  </body>
</html>
